// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html


/ {
    wifi_gpios {
		compatible = "gpio-keys";
        status = "okay";
		iovdd:iovdd {
			gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
			label = "iovdd-ctrl-gpios";
		};
		bucken: bucken {
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
			label = "bucken-gpios";
		};
	};
};


&qspi {
	status = "disabled";
	
	nrf7002: nrf7002@1 {
		status = "disabled";
	};
};